<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ci.marcopolo" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ci.marcopolo.InitActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ci.marcopolo.LogInActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.SignUpActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.ForgotPasswordActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.ShareActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.SettingsActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.EditInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.EditUsernameActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.EditPhoneActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.EditPasswordActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.AutoPoloActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.RecordAudioActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.ci.marcopolo.TakePictureActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>
</manifest>
